<div class="text-white text-center bg-secondary p-3 border-dark align-content-center">
<h2 class="text-danger">Access Denied :-( </h2>
<a asp-action="Logout" class="btn btn-danger">Logout</a>
</div>